h1, h2, h3 {
  line-height: 1em;
  font-family: $f-head;
  color: $c-head;
}

h2, h3 {
  margin-top: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style-position: inside;
  margin-left: 1em;
}

blockquote {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: $c-body-s;
    left: -1em;
    top: 0;
  }
}

pre {
  background: $c-bkg;
  padding: 1em 2em;
}

pre code {
  padding: 0;
  border-radius: 0;
  background: none;
}

code {
  background: $c-bkg;
  padding: 0.3em 0.6em;
  border-radius: 4px;
  font-family: $f-mono;
  font-size: 0.9em;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}